<h1>Editar Item</h1>
<form>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="campo1">Campo 1</label>
			<input type="text" class="form-control" id="campo1" placeholder="digite o valor"> 
		</div>
		<div class="form-group col-md-4">
			<label for="campo2">Campo 2</label>
			<input type="text" class="form-control" id="campo2" placeholder="digite o valor"> 
		</div>
		<div class="form-group col-md-4">
			<label for="campo3">Campo 3</label>
			<input type="text" class="form-control" id="campo3" placeholder="digite o valor"> 
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-3">
			<label for="campo4">Campo 4</label>
			<input type="text" class="form-control" id="campo4" placeholder="digite o valor">
		</div>
		<div class="form-group col-md-3">
			<label for="campo5">Campo 5</label>
			<input type="text" class="form-control" id="campo5" placeholder="digite o valor">
		</div>
		<div class="form-group col-md-3">
			<label for="campo6">Campo 6</label>
			<input type="text" class="form-control" id="campo6" placeholder="digite o valor">
		</div>
		<div class="form-group col-md-3">
			<label for="campo7">Campo 7</label>
			<input type="text" class="form-control" id="campo7" placeholder="digite o valor">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<label for="campo8">Campo 8</label>
			<input type="text" class="form-control" id="campo8" placeholder="digite o valor"> 
		</div>
		<div class="form-group col-md-6">
			<label for="campo9">Campo 9</label>
			<input type="text" class="form-control" id="campo9" placeholder="digite o valor"> 
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-3">
			<label for="campo10">Campo 10</label>
			<input type="text" class="form-control" id="campo10" placeholder="digite o valor">
		</div>
		<div class="form-group col-md-3">
			<label for="campo11">Campo 11</label>
			<input type="text" class="form-control" id="campo11" placeholder="digite o valor">
		</div>
		<div class="form-group col-md-3">
			<label for="campo12">Campo 12</label>
			<input type="text" class="form-control" id="campo12" placeholder="digite o valor">
		</div>
		<div class="form-group col-md-3">
			<label for="campo13">Campo 13</label>
			<input type="text" class="form-control" id="campo13" placeholder="digite o valor">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<label for="campo14">Campo 14</label>
			<input type="text" class="form-control" id="campo14" placeholder="digite o valor"> 
		</div>
		<div class="form-group col-md-6">
			<label for="campo15">Campo 15</label>
			<input type="text" class="form-control" id="campo15" placeholder="digite o valor"> 
		</div>
	</div>
</form>
<div class="row">
	<div class="col-md-12">
		<button type="submit" class="btn btn-primary">Salvar</button>
		<a href="/new" class="btn btn-default">Cancelar</a>
	</div>
</div>