<h1>Visualizar item</h1>
<div class="row">
	<div class="col-md-4">
		<p><strong>Campo 1:</strong></p>
		<p>Valor do campo 1</p>
	</div>
	<div class="col-md-4">
		<p><strong>Campo 2:</strong></p>
		<p>Valor do campo 2</p>
	</div>
	<div class="col-md-4">
		<p><strong>Campo 3:</strong></p>
		<p>Valor do campo 3</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p><strong>Campo 4:</strong></p>
		<p>Valor do campo 4</p>
	</div>
	<div class="col-md-3">
		<p><strong>Campo 5:</strong></p>
		<p>Valor do campo 5</p>
	</div>
	<div class="col-md-3">
		<p><strong>Campo 6:</strong></p>
		<p>Valor do campo 6</p>
	</div>
	<div class="col-md-3">
		<p><strong>Campo 7:</strong></p>
		<p>Valor do campo 7</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p><strong>Campo 8:</strong></p>
		<p>Valor do campo 8</p>
	</div>
	<div class="col-md-6">
		<p><strong>Campo 9:</strong></p>
		<p>Valor do campo 9</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p><strong>Campo 10:</strong></p>
		<p>Valor do campo 10</p>
	</div>
	<div class="col-md-3">
		<p><strong>Campo 11:</strong></p>
		<p>Valor do campo 11</p>
	</div>
	<div class="col-md-3">
		<p><strong>Campo 12:</strong></p>
		<p>Valor do campo 12</p>
	</div>
	<div class="col-md-3">
		<p><strong>Campo 13:</strong></p>
		<p>Valor do campo 13</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p><strong>Campo 14:</strong></p>
		<p>Valor do campo 14</p>
	</div>
	<div class="col-md-6">
		<p><strong>Campo 15:</strong></p>
		<p>Valor do campo 15</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="/edit" class="btn btn-primary">Editar</a>
		<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Excluir</a>
		<a href="/new" class="btn btn default">Fechar</a>
	</div>
</div>